.section_speak{
    background-color:#000;
    background-image:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url(https://assets-global.website-files.com/64ede0a591d8114fdaa0ae7f/64f773e883fc6a9a009046b7_3764bd983328c1863956ea299a9bbd9a.webp);
    background-position:0 0,0 0;
    background-size:auto,cover;
    padding-top:30px;
    padding-bottom:30px
}
.padding-global-5{
    padding-left:2.5rem;
    padding-right:2.5rem
}
.container-large{
    width:100%;
    max-width:68.5rem;
    margin-left:auto;
    margin-right:auto
}
.speak-content-wrapper{
    justify-content:space-between;
    display:flex
}
.speak_heading{
    max-width:334px;
    color:#e7e7e7;
    font-family:Poppins,sans-serif;
    font-size:2rem;
    font-weight:600;
    line-height:48px
}
.speak_content{
    grid-column-gap:38px;
    display:flex
}
.speak_card{
    width:203px;
    grid-column-gap:12px;
    grid-row-gap:12px;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    display:flex
}
.speak_card-content{
    grid-column-gap:8px;
    grid-row-gap:8px;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    display:flex
}
.rating-heading{
    color:#ecd996;
    font-family:Poppins,sans-serif;
    font-size:40px;
    font-weight:700;
    line-height:48px
}
.counterup{
    font-family:Poppins,sans-serif
}
.rating-para{
    color:#e7e7e7;
    text-align:center;
    font-family:Inter,sans-serif;
    font-size:18px;
    font-weight:400;
    line-height:22px
}
.vectors-wrapper{
    width:84px;
    height:35.7778px;
    grid-column-gap:0px;
    grid-row-gap:0px;
    object-fit:cover;
    justify-content:center;
    align-items:center;
    display:flex
}
.w-embed:before,.w-embed:after{
    content:" ";
    grid-area:1/1/2/2;
    display:table
}
.w-embed:after{
    clear:both
}